body {
    min-height: 100vh;
    background-color: #001a35 !important;
}

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-card {
    width: 30rem;
    border: #c63130 2px solid;
    border-radius: 8px;
}

.card-img-top {
    width: 80%;
    height: 10rem;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 8px;
}

.card-img-top-win {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
}

.progress {
    height: 1.5rem;
}

.progress-bar {
    background-color: #c63130;
}

.progress-body {
    padding: 12px;
}

.quiz-card-answer:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
}

.btn-dark-blue {
    background-color: #c63130 !important;
    border-color: #c63130 !important;
}

.correct {
    background-color: rgba(1, 255, 1, 0.25);
}

.correct-highlight {
    background-color: rgba(1, 255, 1, 0.1);
    border: solid 1px green;
}

.wrong {
    background-color: rgba(255, 0, 0, 0.25);
}

.question-footer {
    border-top: 1px solid #e0e0e0;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-2rem {
    font-size: 2rem;
}